<div class="container">
   <div class="row">
      <div class="col-md-2">
         <img src="img/mirai-7.jpg" alt="" class="img-thumbnail mx-auto rounded-circle" width="150">
      </div>
      <div class="col-md-10">
         <h1 class="display-4">Fahrezi</h1>
         <p class="lead">College Student</p>
      </div>
   </div>
</div>